﻿    @model List<sb_admin_2.Web.Models.Video>
    @{
        ViewBag.Title = "Tables";
        Layout = "~/Views/Shared/_Layout.cshtml";
    } 
<div class="content-wrapper">
    <style>
        .dataTables_wrapper {
            overflow-x: scroll !important;
        }
    </style>
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Video List</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Video List
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- File export table -->
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse"><i class="ft-minus"></i></a>
                                    </li>
                                    <li>
                                        <a data-action="reload"><i class="ft-rotate-cw"></i></a>
                                    </li>
                                    <li>
                                        <a data-action="expand"><i class="ft-maximize"></i></a>
                                    </li>
                                    <li>
                                        <a data-action="close"><i class="ft-x"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <table class="table table-striped table-bordered file-export tblAdds" style=" overflow-x: scroll !important; ">
                                    <thead>
                                        <tr>
                                            <th style="display:none"></th>
                                            <th><input type="checkbox" id="selectAll" /></th>
                                            <th>Title</th>
                                           
                                            <th>Date of upload</th>
                                            <th>Views left</th>
                                            <th>Reward Points</th>
                                            @*<th>Store </th>*@
                                            <th>Customer</th>
                                            <th>CustomerId</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Reassign</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Model)
                                        {
                                            <tr class="odd gradeX">
                                                <td style="display:none">0</td>
                                                <td><input id="@Item.Id" type="checkbox" /></td>
                                                <td>@Item.Name</td>
                                              
                                                <td>@Item.strCreatedAt</td>
                                                <td>@Item.ViewsLimit</td>
                                                <td>@Item.RewardPoints</td>
                                                @*<td>@Item.StoreName</td>*@
                                                <td>@Item.CustomerName</td>
                                                <td>@Item.CustomerId</td>
                                                <td>@Item.Status</td>
                                                <td><a href="/Video/PostVideo?VideoId=@Item.Id" class="btn btn-primary">Edit</a></td>
                                                <td><a href="#" onclick="Reassign(@Item.Id)" class="btn btn-primary">Reassign</a></td>
                                                <td><a href="#" onclick="Delete(@Item.Id)" class="btn btn-danger">Delete</a></td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <button onclick="MultipleReassign()" class="btn btn-danger">Reassign Multiple</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- File export table -->
    </div>
</div>

<script>

    $('#selectAll').click(function (e) {
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).prop('checked', this.checked);
    });

    function MultipleReassign(_OrganId, _Organ) {

        var action = confirm("Do you want to reassign?")

        if (action) {


            var IdArray = [];

            $('.tblAdds').find('input[type="checkbox"]:checked').each(function () {

                IdArray.push($(this).attr('id'));
            });

            var _Ids = IdArray.join(",");

            $.ajax({
                type: "Get",
                url: "/Video/MultipleReassign",

                data: { Ids: _Ids },


                success: function (response) {

                    alert("Reassign Successful");
                    location.href = "/Video/GetVideos";
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }
    }

    function Delete(Id) {
        var action = confirm("Do you want to delete?")

        if (action) {
            location.href = "/Video/DeleteVideo?VideoId=" + Id;
        }
    }

    function Reassign(Id) {
        var action = confirm("Do you want to reassign?")

        if (action) {
            location.href = "/Video/Reassign?VideoId=" + Id;
        }
    }

</script>

 