﻿@model sb_admin_2.Web.Models.Video
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .attr('width', 320)
                    .attr('height', 240);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }



</script>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">@Model.PageTitle</h3>

        </div>
     
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostVideo" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.Id, new { @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.VideoLocation, new { @id = "txtVideoLocation", @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.VideoSubLocation, new { @id = "txtVideoSubLocation", @style = "display:none", @class = "form-control" })




                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>Title <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                            </div>


                                            <div class="form-group">
                                                <label>Youtube link <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.VideoPath, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.VideoPath, "", new { @class = "text-danger" })
                                            </div>

                                            @*<div class="form-group">
            <label>Video File <span style="color:red">*</span></label>
            @Html.TextBoxFor(m => m.file, new { type = "file", @id = "imgInp", @onchange = "readURL(this);" })

            @Html.ValidationMessageFor(m => m.file, "", new { @class = "text-danger" })

            <br />

            @if (Model.VideoPath != "" && Model.VideoPath != null)
            {
                <video id="blah" height="240" src="~/@Model.VideoPath" width="320" controls />
            }
            else
            {
                <video id="blah" height="0" width="0" controls />
            }


        </div>*@

                                            <div class="form-group">
                                                <label>Time (In seconds) <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Time, new { @class = "form-control", @Type = "Number" })
                                                @Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Reward Points <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.RewardPoints, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.RewardPoints, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>No of views <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.ViewsLimit, new { @class = "form-control", @Type = "Number" })
                                                @Html.ValidationMessageFor(m => m.ViewsLimit, "", new { @class = "text-danger" })
                                            </div>

                                            <label>Location</label>
                                            <div class="form-group">
                                               
                                                <select id="ddlLocation" multiple="multiple" class="form-control" onchange="fillLocationIds()">
                                                    @foreach (var Item in Model.LocationList)
                                                    {
                                                        if (Item.Selected)
                                                        {
                                                        <option value="@Item.Value" selected>@Item.Text</option>
                                                        }
                                                        else
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    }

                                                </select> 
                                            </div>

                                            <label>Sub Location <span style="color:red">*</span> </label>
                                            <div id="divSubLocation">
                                                <div class="form-group">
                                                   
                                                    <select id="ddlSubLocation" multiple="multiple" class="form-control" onchange="fillSubLocationIds()">
                                                        @foreach (var Item in Model.SubLocationList)
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    </select>

                                                </div>
                                            </div>

                                            <div id="divStore">
                                                <div class="form-group">
                                                    <label>Customer </label>
                                                    @Html.DropDownListFor(m => m.StoreId, Model.StoreList, "Select", new { @Id = "ddlStore", @class = "form-control" })

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Description <span style="color:red">*</span></label>
                                                @Html.TextAreaFor(m => m.Description, new { @rows = 3, @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                            </div> 
                                            
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">@Model.ButtonTitle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> 

<script>

   $("document").ready(function () {

        $('#ddlLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        $('#ddlSubLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        fillLocationIds();

    });



     function fillLocationIds() {

        var selected = $("#ddlLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });

        $("#txtVideoLocation").val(message);
        FillSubLocationDDL('@Model.Id');

    }

    function fillSubLocationIds() {

        var selected = $("#ddlSubLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });

        $("#txtVideoSubLocation").val(message);


    }

    function FillSubLocationDDL(_VideoId) {


        _LocationId = $("#txtVideoLocation").val();


        $.ajax({
            type: "GET",
            url: "/Video/FillSubLocationDDL",
            data: { LocationId: _LocationId, VideoId: _VideoId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divSubLocation').html(response);
                fillSubLocationIds();

            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }



    function FillStoreDDL() {

        _LocationId = $("#ddlLocation").val();
        _SubLocationId = $("#ddlSubLocation").val();

        $.ajax({
            type: "GET",
            url: "/Video/FillStoreDDL",
            data: { LocationId: _LocationId, SubLocationId: _SubLocationId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divStore').html(response);


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }

</script>