﻿@model sb_admin_2.Web.Models.ActivityVM
    @{
        ViewBag.Title = "Users";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div class="content-wrapper">
    <style>
        .dataTables_wrapper {
            overflow-x: scroll !important;
        }
    </style>
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Total Earned Points</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Total Earned Points
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- File export table -->
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <h3>Total Earned Points  : @Model.TotalPoints</h3>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse"><i class="ft-minus"></i></a>
                                    </li>
                                  
                                    <li>
                                        <a data-action="expand"><i class="ft-maximize"></i></a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <table class="table table-striped table-bordered file-export" style=" overflow-x: scroll !important; ">
                                    <thead>
                                        <tr>
                                            <th style="display:none">S.No</th>
                                            <th>Title</th>
                                            <th>Type</th>

                                            <th>Points Earned</th>
                                            <th>Viewed Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Model.TransactionList)
                                        {
                                            <tr class="odd gradeX">

                                                <td style="display:none">0</td>
                                                <td>@Item.Title</td>
                                                <td>@Item.Type</td>
                                                <td>@Item.RewardPoints</td>
                                                <td>@Item.ViewedDate</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- File export table -->
    </div>
</div>


<div class="content-wrapper">
    <style>
        .dataTables_wrapper {
            overflow-x: scroll !important;
        }
    </style>
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">  Redemption Requests</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                     Redemption Requests
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- File export table -->
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse"><i class="ft-minus"></i></a>
                                    </li>
                                  
                                    <li>
                                        <a data-action="expand"><i class="ft-maximize"></i></a>
                                    </li>
                                
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <table class="table table-striped table-bordered file-export" style=" overflow-x: scroll !important; ">
                                    <thead>
                                        <tr>
                                            <th style="display:none"></th>
                                            <th>A/C Holder Name</th>
                                            <th>A/C No</th>
                                            <th>Points</th>
                                            <th>Amount</th>
                                            <th>Bank </th>
                                            <th>IFSC</th>
                                            <th>Mobile</th>
                                            <th>Request Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Model.Redemptions)
                                        {
                                            <tr class="odd gradeX">
                                                <td style="display:none">0</td>
                                                <td>@Item.AccountHolderName</td>
                                                <td>@Item.AccountNumber</td>
                                                <td>@Item.Points</td>
                                                <td>@Item.Amount Rs</td>
                                                <td>@Item.BankName</td>
                                                <td>@Item.IFSC</td>
                                                <td>@Item.Mobile</td>
                                                <td>@Item.strCreatedAt</td>
                                                <th>@Item.Status</th>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- File export table -->
    </div>
</div> 