﻿@model sb_admin_2.Web.Models.User
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">User Details</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        User Details
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostOffers" method="post" enctype="multipart/form-data">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />

                                            <div class="form-group">
                                                <label>Unique User Id</label>
                                                @Html.TextBoxFor(m => m.strUserId, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>Last Name</label>
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>First Name</label>
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @readonly = "true" })
                                            </div>


                                            <div class="form-group">
                                                <label>Mobile</label>
                                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>Email</label>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>Location</label>
                                                @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>Address</label>
                                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>Date Of Birth</label>
                                                @Html.TextBoxFor(m => m.Dob, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>Gender</label>
                                                @Html.TextBoxFor(m => m.Gender, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>Is Notification Enabled?</label>
                                                @Html.TextBoxFor(m => m.IsNotificationEnabled, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="form-group">
                                                <label>Subscription Type</label>
                                                @Html.TextBoxFor(m => m.SubscriptionType, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            @if (Model.SubscriptionPlan != "")
                                            {
                                                <div class="form-group">
                                                    <label>Subscription Plan</label>
                                                    @Html.TextBoxFor(m => m.SubscriptionPlan, new { @class = "form-control", @readonly = "true" })
                                                </div>
                                            }


                                            <div class="form-group">
                                                <label>Register Date</label>
                                                @Html.TextBoxFor(m => m.strCreatedAt, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            @*<div class="form-group">
                                                    <label>Status</label>
                                                    @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @readonly = "true" })
                                                </div>*@


                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
