﻿
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@model sb_admin_2.Web.Models.UserVM

@*<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#DOB").datepicker();

    });
</script>*@

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Edit Profile</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Edit Profile
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="EditProfile" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true)


                                    @Html.TextBoxFor(m => m.User.Id, new { @style = "display:none", @class = "form-control" })
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>First Name <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.User.FirstName, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Last Name <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.User.LastName, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Mobile <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.User.Mobile, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.User.Mobile, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Email </label>
                                                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.User.Email, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Address </label>
                                                @Html.TextAreaFor(m => m.User.Address, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.User.Address, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Location <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.User.LocationId, Model.LocationList, new { @Id = "ddlLocation", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.User.LocationId, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="form-group">
                                                <label>Dob </label>
                                                @Html.TextBoxFor(m => m.User.Dob, new { @class = "form-control", @id = "OfferStartDate" })
                                                @Html.ValidationMessageFor(m => m.User.Dob, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Gender </label>
                                                @Html.RadioButtonFor(m => m.User.Gender, "Male") Male
                                                @Html.RadioButtonFor(m => m.User.Gender, "Female") Female
                                                @Html.ValidationMessageFor(m => m.User.Gender, "", new { @class = "text-danger" })
                                            </div>

                                            @*<div class="form-group">
                                                <label>Subscription Type </label>
                                                @Html.RadioButtonFor(m => m.User.SubscriptionType, "Free") Free
                                                @Html.RadioButtonFor(m => m.User.SubscriptionType, "Paid") Paid
                                                @Html.ValidationMessageFor(m => m.User.SubscriptionType, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Status</label>
                                                @Html.RadioButtonFor(m => m.User.IsActive, 1) Active
                                                @Html.RadioButtonFor(m => m.User.IsActive, 0) Inactive
                                                @Html.ValidationMessageFor(m => m.User.IsActive, "", new { @class = "text-danger" })
                                            </div>*@
                                             
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> 
<script>


    $("document").ready(function () {

        $('#ddlLocation').val('@Model.User.LocationId');

    });

</script>

