﻿@model List<sb_admin_2.Web.Models.Banner>

               <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    /*tr:nth-child(even) {
        background-color: #dddddd;
    }*/

    .dataTables_wrapper {
        overflow-x: scroll !important;
    }
</style>


<div class="card-content collapse show">
    <div class="card-body card-dashboard">
        <table class="table table-striped table-bordered file-export" style=" overflow-x: scroll !important; ">

            <thead>
                <tr>
                    <th>Image</th>
                    <th>Location</th>
                    <th>Date of upload</th>
                    <th>Expires on</th>
                    @*<th>Store </th>*@
                    <th>Customer</th>
                  
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model)
            {
                    <tr class="odd gradeX">

                        <td><img height="50" width="50" src="../@Item.ImagePath" /></td>
                        <td>@Item.LocationName</td>
                        <td>@Item.strCreatedDate</td>
                        <td>@Item.strExpiryDate</td>
                        @*<td>@Item.StoreName</td>*@
                        <td>@Item.CustomerName</td>
                        <td>@Item.Status</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

 