﻿@model sb_admin_2.Web.Models.Report

<h3 class="content-header-title">@Model.CustomerName, @Model.CustomerId</h3>

<div>
    <h4>Advertisement</h4>
</div>
@Html.Partial("_Adds", @Model.Adds)

<div>
    <h4>Videos</h4>
</div>
@Html.Partial("_Videos", @Model.Videos)

<div>
    <h4>Banners</h4>
</div>
@Html.Partial("_Banners", @Model.Banners)

@*<div>
    <h4>Offers</h4>
</div>
@Html.Partial("_Offers", @Model.Offers)*@

