﻿@model List<sb_admin_2.Web.Models.Customer>



               <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    /*tr:nth-child(even) {
        background-color: #dddddd;
    }*/

    .dataTables_wrapper {
        overflow-x: scroll !important;
    }
</style>


<div class="card-content collapse show">
    <div class="card-body card-dashboard">
        <table class="table table-striped table-bordered file-export" style=" overflow-x: scroll !important; ">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>CompanyName</th>
                    <th>CustomerId</th>
                    <th>Location</th>
                    <th>Sub location</th>
                    <th>Registered on</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model)
                {
                    <tr class="odd gradeX">

                        <td>@Item.Name</td>
                        <td>@Item.CompanyName</td>
                        <td>@Item.CustomerId</td>
                        <td>@Item.LocationName</td>
                        <td>@Item.SubLocationName</td>
                        <td>@Item.CreatedAt.Value.ToString("dd MMM yyyy")</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
 