﻿@model List<sb_admin_2.Web.Models.Offers>

    <style>
        .dataTables_wrapper {
            overflow-x: scroll !important;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        /*tr:nth-child(even) {
            background-color: #dddddd;
        }*/
    </style>


    <div class="card-content collapse show">
        <div class="card-body card-dashboard">
            <table class="table table-striped table-bordered file-export" style=" overflow-x: scroll !important; ">
                <thead>
                    <tr>
                        <th style="display:none"></th>
                        <th>Category</th>
                        <th>SubCategory</th>
                        @*<th>Product Name</th>*@
                        <th>Image</th>
                        <th>Offer Period</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in Model)
                    {
                        <tr class="odd gradeX">
                            <td style="display:none">0</td>
                            <td>@Item.Category</td>
                            <td>@Item.SubCategory</td>
                            @*<td>@Item.ProductName</td>*@
                            <td><img height="50" width="50" src="../@Item.ImagePath" /></td>
                            <td>@Item.strOfferStartDate <span>-</span> @Item.strOfferEndDate</td>
                            <td>@Item.Status</td>

                        </tr>
                    }
                </tbody>


            </table>
        </div>
    </div>



