﻿

<div class="col-lg-6 col-lg-offset-3">
    <div class="form-group">
        <a onclick="ExportPdf('@Request.QueryString["ReportType"]')" class="btn btn-primary" style="color:white;" >Export PDF</a>
        <a href="@Url.Action("ExportToExcel", "Reports", new { ReportType = @Request.QueryString["ReportType"] })" class="btn btn-primary">Export Excel</a>
    </div>
</div>
