﻿
@model List<sb_admin_2.Web.Models.User>

               <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    /*tr:nth-child(even) {
        background-color: #dddddd;
    }*/

    .dataTables_wrapper {
        overflow-x: scroll !important;
    }
</style>


<div class="card-content collapse show">
    <div class="card-body card-dashboard">
        <table class="table table-striped table-bordered file-export" style=" overflow-x: scroll !important; ">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    @*<th>Email</th>*@
                    <th>Location</th>
                    <th>Subscription</th>
                    <th>Status</th>
                    <th>Register Date</th>
                    <th>UID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model)
                {
                    <tr class="odd gradeX">
                        <td>@Item.LastName @Item.FirstName</td>
                        <td>@Item.Mobile</td>
                        @*<td>@Item.Email</td>*@
                        <td>@Item.LocationName</td>
                        <td>@Item.SubscriptionType</td>
                        <td>@Item.Status</td>
                        <td>@Item.strCreatedAt</td>
                        <td>@Item.UserId</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
 