﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model sb_admin_2.Web.Models.Report

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#OfferStartDate").datepicker();
        $("#OfferEndDate").datepicker();
    });
</script>




<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">@Model.ReportFilter.Type Report</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Reports
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div>
                                    <h4>Enter the details below</h4>
                                </div>
                                <hr />

                                @using (Ajax.BeginForm("GetReportByType", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "reportSection" }))
                                {
                                    @Html.TextBoxFor(m => m.ReportFilter.Type, new { @style = "display:none", @class = "form-control" })
                                    <div class="row">

                                        @if (@Model.ReportFilter.Type != "CUSTOMERACTIVITY")
                                        {
                                            <div class="form-group col-md-2">
                                                <label> From Date</label>
                                                @Html.TextBoxFor(m => m.ReportFilter.strFromDate, new { @Id = "OfferStartDate", @class = "form-control" })

                                            </div>
                                        }

                                        @if (@Model.ReportFilter.Type != "CUSTOMERACTIVITY")
                                        {
                                            <div class="form-group col-md-2">
                                                <label>To Date</label>
                                                @Html.TextBoxFor(m => m.ReportFilter.strToDate, new { @Id = "OfferEndDate", @class = "form-control" })

                                            </div>
                                        }

                                        @if (@Model.ReportFilter.Type != "USER")
                                        {
                                            <div class="form-group col-md-2">
                                                <label>CustomerId</label>
                                                @Html.TextBoxFor(m => m.ReportFilter.CustomerId, new { @id = "txtCustomerId", @class = "form-control" })

                                            </div>
                                        }

                                        @if (@Model.ReportFilter.Type == "USER")
                                        {
                                        <div class="form-group col-md-2">
                                            <label>UserId</label>
                                            @Html.TextBoxFor(m => m.ReportFilter.CustomerId, new { @id = "txtCustomerId", @class = "form-control" })

                                        </div>
                                        }

                                        @if (@Model.ReportFilter.Type != "CUSTOMERACTIVITY")
                                        {
                                            <div class="form-group col-md-2">
                                                <label>Location <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.ReportFilter.LocationId, Model.LocationList, "Select", new { @Id = "ddlLocation", @class = "form-control" })


                                            </div>
                                        }

                                        @if (@Model.ReportFilter.Type != "CUSTOMERACTIVITY")
                                        {
                                            <div class="form-group col-md-2">
                                                <label>Status</label>
                                                <select id="ddlStatus" name="ReportFilter.Status" class="form-control">
                                                    <option value="">Select</option>
                                                    <option value="Open">Open</option>
                                                    <option value="Closed">Closed</option>

                                                </select>
                                            </div>
                                        }
                                        <div class=" col-md-2">
                                            <button type="submit"  class="btn btn-success" style=" margin-top: 25px; width: 100%; cursor:pointer ">Filter</button>
                                        </div>

                                    </div>
                                }
                                <div class="form-group">
                                    @Html.Partial("_ReportControls")
                                </div>
                                <div id="reportSection">



                                    @if (Model.ReportFilter.Type == "ADD")
                                    {
                                        @Html.Partial("_Adds", @Model.Adds)
                                    }
                                    else if (Model.ReportFilter.Type == "VIDEO")
                                    {
                                        @Html.Partial("_Videos", @Model.Videos)
                                    }
                                    else if (Model.ReportFilter.Type == "BANNER")
                                    {
                                        @Html.Partial("_Banners", @Model.Banners)
                                    }
                                    else if (Model.ReportFilter.Type == "USER")
                                    {
                                        @Html.Partial("_Users", @Model.Users)
                                    }
                                    else if (Model.ReportFilter.Type == "CUSTOMER")
                                    {
                                        @Html.Partial("_Customers", @Model.Customers)
                                    }

                                    else if (Model.ReportFilter.Type == "STORE")
                                    {
                                        @Html.Partial("_Stores", @Model.Stores)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<script>

    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='ReportType']").val($("#ddlReportType").val());
        });
    });

    function ExportPdf(ReportType) {
        var fromDate = $("#OfferStartDate").val();
        var toDate = $("#OfferEndDate").val();
        var status = $("#ddlStatus").val();
        var lnglocation = $("#ddlLocation").val();
        var customerId = $("#txtCustomerId").val();

        window.location.href = 'Reports/Export?ReportType=' + ReportType + "&strFromDate=" + fromDate + "&strToDate=" + toDate + "&strLocation = " + lnglocation + "&Status=" + status + "&CustomerId=" + customerId;
    }


    function GetReportByType() {

        var ReportType = $("#ddlReportType").val();


        $.ajax({
            type: "GET",
            url: "/Reports/GetReportByType",
            data: { ReportType: ReportType },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#reportSection').html(response);


            },
            failure: function (response) {
                alert(response.responseText);

            },
            error: function (response) {
                alert(response.responseText);

            }
        });
    }



</script>