﻿@model sb_admin_2.Web.Models.StoreVM

<div class="form-group">
    <label>Sub Location <span style="color:red">*</span></label>
    @Html.DropDownListFor(m => m.Store.SubLocationId, Model.SubLocationList, "Select", new { @class = "form-control" })

</div>
