﻿@model sb_admin_2.Web.Models.StoreVM
    @{
        ViewBag.Title = "Tables";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Activity</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Activity
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="form-group" style="margin-bottom:50px;">
                                    <h1 class="page-header">Customer Id : @ViewBag.CustomerId</h1>
                                </div> 
                                @Html.Partial("_StoreBanners", Model)
                                @Html.Partial("_StoreAdds", Model)
                                @Html.Partial("_StoreVideos", Model)
                                @Html.Partial("_StoreOffers", Model)


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> 









