﻿@model sb_admin_2.Web.Models.StoreVM
@{
    ViewBag.Title = "AddStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>

    function readURL(input, Id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#' + Id)
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Add Store</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Store
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="AddStore" method="post" enctype="multipart/form-data">

                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.Store.Id, new { @style = "display:none", @class = "form-control" })
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />

                                            <div class="form-group">
                                                <label>Store Name <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Store.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Store.Name, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Location <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.Store.LocationId, Model.LocationList, "Select", new { @id = "ddlLocation", @class = "form-control", @onchange = "FillSubLocationDDL()" })
                                                @Html.ValidationMessageFor(m => m.Store.LocationId, "", new { @class = "text-danger" })
                                            </div>


                                            <div id="ddlSubLocation">
                                                <div class="form-group">
                                                    <label>Sub Location <span style="color:red">*</span></label>
                                                    @Html.DropDownListFor(m => m.Store.SubLocationId, Model.SubLocationList, "Select", new { @Id = "ddlSubLocation", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Store.SubLocationId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label> Image <span style="color:red"></span></label>
                                                <style>
                                                    .nobr {
                                                        border-bottom-left-radius: 0px;
                                                        border-bottom-right-radius: 0px;
                                                    }
                                                </style>

                                                <label> Image :</label>
                                                @Html.TextBoxFor(m => m.Store.file, new { type = "file", @id = "imgInp", @onchange = "readURL(this,'file');", @class = "form-control nobr" })
                                                @Html.ValidationMessageFor(m => m.Store.file, "", new { @class = "text-danger" })
                                                 
                                                <div class="row" style=" border: 1px solid #ccd6e6; padding: 10px; margin: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: none; ">
                                                    <div>
                                                        <br />

                                                        @if (@Model.Store.ImagePath != "" && @Model.Store.ImagePath != null)
                                                        {
                                                            <img id="file" width="50" height="50" src="~/@Model.Store.ImagePath" height="50" width="50" />
                                                        }
                                                        else
                                                        {
                                                            <img id="file" width="50" height="50" src="http://placehold.it/180" alt="your image" />
                                                        }
                                                    </div>

                                                </div>

                                            </div>
                                           <div class="form-group">
                                                <label>Customer Id <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Store.CustomerId, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Store.CustomerId, "", new { @class = "text-danger" })
                                            </div>

                                           

                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> 

<script>

    $("document").ready(function () {

       

        $('#ddlLocation').val('@Model.Store.LocationId');

        $('#ddlSubLocation').val('@Model.Store.SubLocationId');

    });



    function FillSubLocationDDL() {


        _LocationId = $("#ddlLocation").val();

        $.ajax({
            type: "GET",
            url: "/Store/FillSubLocationDDL",
            data: { LocationId: _LocationId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#ddlSubLocation').html(response);


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }


</script>