﻿
@model sb_admin_2.Web.Models.Login


    @{
        ViewBag.Title = "Login"; 
        Layout = null;
        // Layout = "~/Views/Shared/_LoginLayout.cshtml";
    }
<!-- - var menuBorder = true-->
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="View Ads Zone.">
    <meta name="keywords" content="View Ads Zone">
    <meta name="author" content="View Ads Zone">
    <title>Andhra Views</title>
    <link rel="apple-touch-icon" href="~/web/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/web/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
          rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/app.min.css">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/pages/login-register.min.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/assets/css/style.css">
    <!-- END Custom CSS-->
</head>
<body data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column  bg-full-screen-image menu-expanded blank-page blank-page">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
           
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <h2>Andhra Views</h2>
                                        @*<img src="~/web/app-assets/images/logo/stack-logo-dark.png" alt="branding logo">*@
                                    </div> 
                                </div>
                                <div class="card-content"> 
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span>Enter Your Account Details</span>
                                    </p>
                                    <div class="card-body">
                                        @using (Html.BeginForm("Index", "Login", new { }, FormMethod.Post))
            {
                                            <fieldset>
                                                @Html.ValidationSummary(false)

                                                <div class="form-group position-relative has-icon-left">

                                                    <input class="form-control" placeholder="Username" name="UserName" type="text" required autofocus>
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </div>
                                                <div class="form-group position-relative has-icon-left">
                                                    <input class="form-control" placeholder="Password" name="Password" type="password" required value="">
                                                    <div class="form-control-position">
                                                        <i class="fa fa-key"></i>
                                                    </div>
                                                </div>
                                                @*<div class="form-group row">
                                                    <div class="col-md-6 col-12 text-center text-sm-left">
                                                        <fieldset>
                                                            <input type="checkbox" id="remember-me" class="chk-remember">
                                                            <label for="remember-me"> Remember Me</label>
                                                        </fieldset>
                                                    </div>
                                                 
                                                </div>*@
                                                <!-- Change this to a button or input when using this as a form -->
                                                <button type="submit" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i> Login</button> 
                                            </fieldset>
                                        }
                                        
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div> 
    <!-- BEGIN VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"
            type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN STACK JS-->
    <script src="~/web/app-assets/js/core/app-menu.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/js/core/app.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/js/scripts/customizer.min.js" type="text/javascript"></script>
    <!-- END STACK JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/web/app-assets/js/scripts/forms/form-login-register.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
</body>
</html>
 

