﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/canvasjs.min.js"></script>
<style>
    .canvasjs-chart-credit {
        display: none;
    }
</style>
@model sb_admin_2.Web.Models.DashBoard
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!--stats--> 
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-left w-100">
                                    <h3 class="primary">@Model.Users</h3>
                                    <span>Users</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="icon-user-follow primary font-large-2 float-right"></i>
                                </div>
                            </div>
                            <hr />
                            <a href="@Url.Action("Index", "User")">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-left w-100">
                                    <h3 class="danger">@Model.Adds</h3>
                                    <span>Adds</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="icon-social-dropbox danger font-large-2 float-right"></i>
                                </div>
                            </div>
                            <hr />
                            <a href="@Url.Action("GetAdds", "Advertisement")">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-left w-100">
                                    <h3 class="success">@Model.Videos</h3>
                                    <span>Videos</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="icon-layers success font-large-2 float-right"></i>
                                </div>
                            </div>
                           <hr />
                            <a href="@Url.Action("GetVideos", "Video")">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-left w-100">
                                    <h3 class="warning">@Model.Customers</h3>
                                    <span>Customers</span>
                                </div>
                                <div class="media-right media-middle">
                                    <i class="icon-globe warning font-large-2 float-right"></i>
                                </div>
                            </div>
                           <hr />
                            <a href="@Url.Action("GetCustomers", "Customer")">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/stats-->
       


        <div id="chartContainer1" style="width: 49%; height: 300px;display: inline-block;"></div>
        <div id="chartContainer2" style="width: 49%; height: 300px;display: inline-block;"></div>
        <br /><br />
        <div id="chartContainer3" style="width: 49%; height: 300px;display: inline-block;"></div>
        <div id="chartContainer4" style="width: 49%; height: 300px;display: inline-block;"></div>



    </div>
</div>
 



<script type="text/javascript">



    $(function () {

        var userDataPoints = [];
        var addDataPoints = [];
        var videoDataPoints = [];
        var customerDataPoints = [];

        $.ajax({
            type: "GET",
            url: "/Home/CharInit",
            contentType: "application/json; charset=utf-8",

            success: function (response) {

                var user = JSON.parse(response.UserDataPoints);
                var add = JSON.parse(response.AddDataPoints);
                var video = JSON.parse(response.VideoDataPoints);
                var customer = JSON.parse(response.CustomerDataPoints);

                for (var i = 0; i < user.length; i++) {
                    userDataPoints.push({ label: user[i].x, y: user[i].y });
                }

                for (var i = 0; i < add.length; i++) {
                    addDataPoints.push({ label: add[i].x, y: add[i].y });
                }

                for (var i = 0; i < video.length; i++) {
                    videoDataPoints.push({ label: video[i].x, y: video[i].y });
                }

                for (var i = 0; i < customer.length; i++) {
                    customerDataPoints.push({ label: customer[i].x, y: customer[i].y });
                }

                var chart1 = new CanvasJS.Chart("chartContainer1",
                            {
                                title: {
                                    text: "Users by date"
                                },
                                theme: "light2",
                                animationEnabled: true,
                                data: [
                                {
                                    type: "column",
                                    dataPoints: userDataPoints
                                }
                                ]
                            });

                chart1.render();

                var chart2 = new CanvasJS.Chart("chartContainer2",
                    {
                        title: {
                            text: "Adds by date"
                        },
                        theme: "light2",
                        animationEnabled: true,
                        
                        data: [
                        {
                           
                            type: "column",
                            
                            dataPoints: addDataPoints
                        }
                        ]
                    });
                chart2.render();

                var chart3 = new CanvasJS.Chart("chartContainer3",
                               {
                                   title: {
                                       text: "Videos by date"
                                   },
                                   theme: "light2",
                                   animationEnabled: true,
           
                                   data: [
                                   {
              
                                       type: "column",
               
                                       dataPoints: videoDataPoints
                                   }
                                   ]
                               });
                chart3.render();

                var chart4 = new CanvasJS.Chart("chartContainer4",
                {
                    title: {
                        text: "Customers by date"
                    },
                    theme: "light2",
                    animationEnabled: true,
                    
                    data: [
                    {
                        
                        type: "column",
                       
                        dataPoints: customerDataPoints
                    }
                    ]
                });
                chart4.render();

            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });








        

       

    });
</script>