﻿<!-- - var menuBorder = true-->
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="View Ads Zone.">
    <meta name="keywords" content="View Ads Zone">
    <meta name="author" content="View Ads Zone">
    <title>Andhra Views</title>
    <link rel="apple-touch-icon" href="~/web/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/web/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/app.min.css">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->

    <link rel="stylesheet" type="text/css" href="~/web/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/assets/css/style.css">
    <!-- END Custom CSS-->
    <!-- BEGIN VENDOR CSS-->
   
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/vendors/css/pickers/pickadate/pickadate.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/app.min.css">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/core/colors/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/css/plugins/pickers/daterange/daterange.min.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/web/app-assets/assets/css/style.css">
    <!-- END Custom CSS-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
          rel="stylesheet">

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>


    <style>
        a.btn.btn-primary.btn-secondary.buttons-copy.buttons-html5.mr-1{
            display:none;
        }
        a.btn.btn-primary.btn-secondary.buttons-csv.buttons-html5.mr-1 {
            display: none;
        }
        a.btn.btn-primary.btn-secondary.buttons-excel.buttons-html5.mr-1 {
            display: none;
        }
        a.btn.btn-primary.btn-secondary.buttons-pdf.buttons-html5.mr-1 {
            display: none;
        }
        a.btn.btn-primary.btn-secondary.buttons-print.btn-primary.mr-1 {
            display: none;
        }
    </style>
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">
    @Html.Action("Index", "Navbar")


    
    <div class="app-content content"> 
            @RenderBody()



         
    </div>
    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright &copy; 2018 <a href="http://www.viewadszone.com/"
                                         target="_blank" class="text-bold-800 grey darken-2">www.andhraviews.com</a>, All rights
                reserved.
            </span>
            <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block"></span>
        </p>
    </footer>
    <!-- BEGIN VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js"
            type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/buttons.flash.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/jszip.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/buttons.html5.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/buttons.print.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN STACK JS-->
    <script src="~/web/app-assets/js/core/app-menu.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/js/core/app.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/js/scripts/customizer.min.js" type="text/javascript"></script>
    <!-- END STACK JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/web/app-assets/js/scripts/tables/datatables/datatable-advanced.js"
            type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->

    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/web/app-assets/js/scripts/pickers/dateTime/picker-date-time.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/docs/css/bootstrap-example.min.css" type="text/css">
    <link rel="stylesheet" href="~/docs/css/prettify.min.css" type="text/css">

    <script type="text/javascript" src="~/docs/js/bootstrap-3.3.2.min.js"></script>
    <script type="text/javascript" src="~/docs/js/prettify.min.js"></script>
    <link rel="stylesheet" href="~/dist/css/bootstrap-multiselect.css" type="text/css">
    <script type="text/javascript" src="~/dist/js/bootstrap-multiselect.js"></script>


    @*<!-- BEGIN VENDOR JS-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
   
    <!-- BEGIN STACK JS-->
    <script src="~/web/app-assets/js/core/app-menu.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/js/core/app.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/js/scripts/customizer.min.js" type="text/javascript"></script>
    <!-- END STACK JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/web/app-assets/js/scripts/tables/datatables/datatable-advanced.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
   
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/web/app-assets/js/scripts/pickers/dateTime/picker-date-time.js" type="text/javascript"></script>
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/web/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/buttons.flash.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/jszip.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/buttons.html5.min.js" type="text/javascript"></script>
    <script src="~/web/app-assets/vendors/js/tables/buttons.print.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->*@
</body>
</html>
