﻿@model IEnumerable<sb_admin_2.Web.Models.Navbar>

 <!-- fixed-top-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item">
                    <a href=@Url.Action("Index","Home") class="navbar-brand">
                        <!--<img alt="stack admin logo" src="https://irp-cdn.multiscreensite.com/df4534bf/dms3rep/multi/tablet/cmsicon-476x407.png"
                        class="brand-logo" style="width:40px;">-->
                        <h2 class="brand-text">Andhra Views</h2>
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="fa fa-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div id="navbar-mobile" class="collapse navbar-collapse">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a href="#" class="nav-link nav-link-expand"><i class="ficon ft-maximize"></i></a></li>
                </ul>
                <ul class="nav navbar-nav float-right"> 
                    <li class="dropdown dropdown-user nav-item">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                            <span class="avatar avatar-online">
                                <img src="~/web/app-assets/images/portrait/small/avatar-s-1.png" alt="avatar" /><i></i>
                            </span>
                            <span class="user-name">Admin</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            @*<a class="dropdown-item" href="#"><i class="fa fa-pencil fa-fw"></i>Change Password</a>*@
                            @*<div class="dropdown-divider"></div>*@
                            <a class="dropdown-item" href="@Url.Action("Logout", "Login")"><i class="ft-power"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- - var menuBorder = true-->
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion">
    <div class="main-menu-content">

        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

            @foreach (var item in Model)
            {
                if (item.isParent == false && item.parentId == 0)
                {
                    <li class=" nav-item">
                        <a href="@Url.Action(item.action, item.controller)"><i class="@item.imageClass"></i><span data-i18n="" class="menu-title">@item.nameOption</span></a>
                    </li>
                }
                else
                {
                    if (item.isParent == true)
                    {

                        <li class=" nav-item">
                            <a href="#"><i class="@item.imageClass"></i><span data-i18n="" class="menu-title">@item.nameOption</span></a>
                            <ul class="menu-content">
                                @foreach (var child in Model.Where(p => p.parentId == item.Id))
                                {
                                    if (child.controller == null)
                                    {
                                        <li><a href="#" class="menu-item">@child.nameOption</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action(child.action, child.controller)" class="menu-item">@child.nameOption</a></li>
                                    }
                                }
                            </ul>
                        </li>
                       
                    }
                }
            }

            <li class=" nav-item">
                <a href="#"><i class="fa fa-podcast" ></i><span data-i18n="" class="menu-title">Redeem Request</span></a>
                <ul class="menu-content">

                    <li><a href="@Url.Action("Requests", "Redemption", new { Type = "Pending" })" class="menu-item">Pending</a></li>
                    <li><a href="@Url.Action("Requests", "Redemption", new { Type = "Approved" })" class="menu-item">Approved</a></li>
                    
                </ul>
            </li>

            @*<li class=" nav-item">
                <a href="@Url.Action("PointsDefinition", "Redemption", new { Type = "Pending" })"><i class="fa fa-diamond"></i><span data-i18n="" class="menu-title">Points Detail</span></a>
            </li>*@

            <li class=" nav-item">
                <a href="#"><i class="ft-align-left"></i><span data-i18n="" class="menu-title">Reports</span></a>
                <ul class="menu-content">
                    <li><a href="@Url.Action("Index", "Reports", new { ReportType = "ADD" })" class="menu-item">Advertisement</a></li>
                    <li><a href="@Url.Action("Index", "Reports", new { ReportType = "VIDEO" })" class="menu-item">Video</a></li>
                    <li><a href="@Url.Action("Index", "Reports", new { ReportType = "BANNER" })" class="menu-item">Banner</a></li>
                    <li><a href="@Url.Action("Index", "Reports", new { ReportType = "USER" })" class="menu-item">User</a></li>
                    <li><a href="@Url.Action("Index", "Reports", new { ReportType = "CUSTOMER" })" class="menu-item">Customer</a></li>
                    <li><a href="@Url.Action("Index", "Reports", new { ReportType = "CUSTOMERACTIVITY" })" class="menu-item">Customer Activity</a></li>
                    @*<li><a href="@Url.Action("Index", "Reports", new { ReportType = "STORE" })" class="menu-item">Store</a></li>*@
                </ul>
            </li>


        </ul>

    </div>
</div>
