﻿@model sb_admin_2.Web.Models.Advertisement

<div class="form-group">
    <label>Customer</label>
    @Html.DropDownListFor(m => m.StoreId, Model.StoreList, "Select", new { @class = "form-control" })

</div>
