﻿@model sb_admin_2.Web.Models.Advertisement


<div class="form-group">
   
    <select id="ddlSubLocation" multiple="multiple" class="form-control" onchange="fillSubLocationIds()">



        @foreach (var Item in Model.SubLocationList)
        {
            if (Item.Selected)
            {
            <option value="@Item.Value" selected>@Item.Text</option>
            }
            else
            {
            <option value="@Item.Value">@Item.Text</option>
            }

        }

    </select>

</div>


<script>
    $("document").ready(function () {

        $('#ddlSubLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

    });


</script>


