﻿@model sb_admin_2.Web.Models.Advertisement
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }



</script>

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">@Model.PageTitle</h3>
           
        </div>
   
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostAdd" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.Id, new { @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.AddLocation, new { @id = "txtAdvertisementLocation", @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.AddSubLocation, new { @id = "txtAdvertisementSubLocation", @style = "display:none", @class = "form-control" })


                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">  
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>Title <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Banner Image <span style="color:red">*</span></label>
                                                <style>
                                                    .nobr {
                                                        border-bottom-left-radius: 0px;
                                                        border-bottom-right-radius: 0px;
                                                    }
                                                </style>
                                                @Html.TextBoxFor(m => m.file, new { type = "file", @id = "imgInp", @onchange = "readURL(this);", @class = "form-control nobr" })

                                                @Html.ValidationMessageFor(m => m.file, "", new { @class = "text-danger" })
                                               <div class="row" style=" border: 1px solid #ccd6e6; padding: 10px; margin: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: none; ">
                                                    <div>
                                                        @if (Model.ImagePath != "" && Model.ImagePath != null)
                                                    {
                                                        <img id="blah" width="50" height="50" src="~/@Model.ImagePath" alt="your image" />
                                                    }
                                                    else
                                                    {
                                                        <img id="blah" width="50" height="50" src="http://placehold.it/180" alt="your image" />
                                                    }
                                                </div>

                                                </div>
                                             
                                            </div>

                                            <div class="form-group">
                                                <label>Time (In seconds) <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Time, new { @class = "form-control", @Type = "Number" })
                                                @Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })
                                            </div>


                                            <div class="form-group">
                                                <label>Reward Points <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.RewardPoints, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.RewardPoints, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>No of views <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.ViewsLimit, new { @class = "form-control", @Type = "Number" })
                                                @Html.ValidationMessageFor(m => m.ViewsLimit, "", new { @class = "text-danger" })
                                            </div>

                                            <label>Location <span style="color:red">*</span></label>
                                            <div class="form-group">
                                               
                                                <select id="ddlLocation" multiple="multiple" class="form-control" onchange="fillLocationIds()">
                                                    @foreach (var Item in Model.LocationList)
                                                    {
                                                        if (Item.Selected)
                                                        {
                                                        <option value="@Item.Value" selected>@Item.Text</option>
                                                        }
                                                        else
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    }

                                                </select> 

                                            </div>

                                            <label>Sub Location <span style="color:red">*</span> </label>
                                            <div id="divSubLocation">
                                               
                                                <div class="form-group">
                                                   
                                                    <select id="ddlSubLocation" multiple="multiple" class="form-control" onchange="fillSubLocationIds()">
                                                        @foreach (var Item in Model.SubLocationList)
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    </select>

                                                </div>
                                            </div>

                                            <div id="divStore">
                                                <div class="form-group">
                                                    <label>Customer </label>
                                                    @Html.DropDownListFor(m => m.StoreId, Model.StoreList, "Select", new { @Id = "ddlStore", @class = "form-control" })

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Description <span style="color:red">*</span></label>
                                                @Html.TextAreaFor(m => m.Description, new { @rows = 3, @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                            </div> 
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">@Model.ButtonTitle <i class="fa fa-thumbs-o-up position-right"></i></button>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>

    $("document").ready(function () {

        $('#ddlLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        $('#ddlSubLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        fillLocationIds();

    });



     function fillLocationIds() {

        var selected = $("#ddlLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });

        $("#txtAdvertisementLocation").val(message);
        FillSubLocationDDL('@Model.Id');

    }

    function fillSubLocationIds() {

        var selected = $("#ddlSubLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });

        $("#txtAdvertisementSubLocation").val(message);


    }

    function FillSubLocationDDL(_AdvertisementId) {


        _LocationId = $("#txtAdvertisementLocation").val();


        $.ajax({
            type: "GET",
            url: "/Advertisement/FillSubLocationDDL",
            data: { LocationId: _LocationId, AdvertisementId: _AdvertisementId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divSubLocation').html(response);
                fillSubLocationIds();

            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }


    function FillStoreDDL() {

        _LocationId = $("#ddlLocation").val();
        _SubLocationId = $("#ddlSubLocation").val();

        $.ajax({
            type: "GET",
            url: "/Advertisement/FillStoreDDL",
            data: { LocationId: _LocationId, SubLocationId: _SubLocationId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divStore').html(response);


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }

</script>