﻿@model sb_admin_2.Web.Models.OfferVM
 

@for (int i = 0; i < Model.Offer.OfferImages.Count; i++)
{
    <span class="pip">
        <img class="imageThumb" style="width:100px;height:100px;" src="http://admin.andhraviews.com/@Model.Offer.OfferImages[i].ImagePath" title="Test" />
        <br /><span onclick="DeleteOfferImage(@Model.Offer.OfferImages[i].OfferId, @Model.Offer.OfferImages[i].Id)" class="remove2">Remove image</span>
    </span>

}
