﻿@model sb_admin_2.Web.Models.OfferVM


<div class="form-group">
    <label>Store <span style="color:red">*</span></label>
    @Html.DropDownListFor(m => m.Offer.StoreId, Model.StoreList, "Select", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Offer.StoreId, "", new { @class = "text-danger" })
</div>
