﻿@model sb_admin_2.Web.Models.OfferVM

<div class="form-group">
    <label>Sub Location <span style="color:red">*</span></label>
    @Html.DropDownListFor(m => m.Offer.SubLocationId, Model.SubLocationList, "Select", new { @Id = "ddlSubLocation", @class = "form-control", @onchange = "FillStoreDDL()" })
    @Html.ValidationMessageFor(m => m.Offer.SubLocationId, "", new { @class = "text-danger" })
</div>

