﻿@model sb_admin_2.Web.Models.OfferVM

  <div class="form-group">
    <label>SubCategory <span style="color:red">*</span></label>
    @Html.DropDownListFor(m => m.Offer.SubCategoryId, Model.SubCategoryList, "Select", new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.Offer.SubCategoryId, "", new { @class = "text-danger" })
</div>
