﻿@model sb_admin_2.Web.Models.OfferVM

@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Add Offer SubCategory</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Offer SubCategory
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostSubCategories" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.SubCategory.Id, new { @style = "display:none", @class = "form-control" })
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Add Offer SubCategory</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>Category <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.SubCategory.MasterId, Model.CategoryList, "Select", new { @Id = "ddlOfferCategory", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.SubCategory.MasterId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label> SubCategory Name<span style="color:red">*</span></label>

                                                @Html.TextBoxFor(m => m.SubCategory.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.SubCategory.Name, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="form-group">
                                                <label>Icon Image <span style="color:red">*</span></label>
                                                <style>
                                                    .nobr {
                                                        border-bottom-left-radius: 0px;
                                                        border-bottom-right-radius: 0px;
                                                    }
                                                </style>


                                                @Html.TextBoxFor(m => m.SubCategory.file, new { type = "file", @id = "imgInp", @onchange = "readURL(this);" , @class = "form-control nobr"})

                                                @Html.ValidationMessageFor(m => m.SubCategory.file, "", new { @class = "text-danger" })

  
                                               
                                                <div class="row" style=" border: 1px solid #ccd6e6; padding: 10px; margin: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: none; ">
                                                    <div>
                                                        <br />
                                                        @if (Model.SubCategory.ImagePath != "" && Model.SubCategory.ImagePath != null)
                                                        {
                                                            <img id="blah" width="50" height="50" src="~/@Model.SubCategory.ImagePath" alt="your image" />
                                                        }
                                                        else
                                                        {
                                                            <img id="blah" width="50" height="50" src="http://placehold.it/180" alt="your image" />
                                                        }
                                                    </div>

                                                </div>

                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">Save</button>


                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
 

<script>

    $("document").ready(function () {

        $('#ddlOfferCategory').val('@Model.SubCategory.MasterId');

    });


</script>