﻿@model sb_admin_2.Web.Models.OfferVM
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#OfferStartDate").datepicker();
        $("#OfferEndDate").datepicker();
    });
</script>*@

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



<script>



    function readURL(input, Id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#' + Id)
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Add Offer</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Offer
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostOffers" method="post" enctype="multipart/form-data">

                                    @Html.ValidationSummary(true,"", new  { @style = "color:red"})

                                    @Html.TextBoxFor(m => m.Offer.Id, new { @style = "display:none", @class = "form-control" })
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>Category <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.Offer.CategoryId, Model.CategoryList, "Select", new { @id = "ddlOfferCategory", @class = "form-control", @onchange = "FillSubCatDDL()" })
                                                @Html.ValidationMessageFor(m => m.Offer.CategoryId, "", new { @class = "text-danger" })
                                            </div>
                                            <div id="ddlSubCat">
                                                <div class="form-group">
                                                    <label>SubCategory <span style="color:red">*</span></label>
                                                    @Html.DropDownListFor(m => m.Offer.SubCategoryId, Model.SubCategoryList, "Select", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Offer.SubCategoryId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                <label>Product Name</label>
                                                @Html.TextBoxFor(m => m.Offer.ProductName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Offer.ProductName, "", new { @class = "text-danger" })
                                            </div>*@

                                            <div class="field form-group">
                                                <h3>Upload your images</h3>
                                                <input type="file" id="files" name="files" class="form-control" multiple />

                                            </div>

                                            <div id="divOfferImages">
                                                @Html.Partial("_offerImages", Model)
                                            </div>


                                            <div class="form-group">
                                                <label>Location <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.Offer.LocationId, Model.LocationList, "Select", new { @Id = "ddlLocation", @class = "form-control", @onchange = "FillSubLocationDDL()" })
                                                @Html.ValidationMessageFor(m => m.Offer.LocationId, "", new { @class = "text-danger" })

                                            </div>

                                            <div id="divSubLocation">
                                                <div class="form-group">
                                                    <label>Sub Location <span style="color:red">*</span></label>
                                                    @Html.DropDownListFor(m => m.Offer.SubLocationId, Model.SubLocationList, "Select", new { @Id = "ddlSubLocation", @class = "form-control", @onchange = "FillStoreDDL()" })
                                                    @Html.ValidationMessageFor(m => m.Offer.SubLocationId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div id="divStore">
                                                <div class="form-group">
                                                    <label>Store <span style="color:red">*</span></label>
                                                    @Html.DropDownListFor(m => m.Offer.StoreId, Model.StoreList, "Select", new { @Id = "ddlStore", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Offer.StoreId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Store Address</label>
                                                @Html.TextAreaFor(m => m.Offer.Address, new { @rows = 2, @class = "form-control " })
                                                @Html.ValidationMessageFor(m => m.Offer.Address, "", new { @class = "text-danger" })
                                            </div>
                                            @*<div class="form-group">
                                                <label>Basic Date &amp; Time Picker</label>
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>*@
                                          
                                             <div class="form-group">
                                                <label>Offer StartDate</label>
                                                @Html.TextBoxFor(m => m.Offer.strOfferStartDate, new { @Id = "datetimepicker6", @class = "form-control " })
                                                @Html.ValidationMessageFor(m => m.Offer.strOfferStartDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Offer EndDate</label>
                                                @Html.TextBoxFor(m => m.Offer.strOfferEndDate, new { @Id = "datetimepicker7", @class = "form-control " })
                                                @Html.ValidationMessageFor(m => m.Offer.strOfferEndDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                                @Html.TextAreaFor(m => m.Offer.Description, new { @rows = 3, @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Offer.Description, "", new { @class = "text-danger" })
                                            </div> 
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>  

<style>

    input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    .remove2 {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }


        .remove:hover {
            background: white;
            color: black;
        }
    .imageThumb{
        height:100px;
        width:100px;
    }

</style>

<script>

    $("document").ready(function () {

            if (window.File && window.FileList && window.FileReader) {
                $("#files").on("change", function (e) {
                    var files = e.target.files,
                      filesLength = files.length;
                    for (var i = 0; i < filesLength; i++) {
                        var f = files[i]
                        var fileReader = new FileReader();
                        fileReader.onload = (function (e) {
                            var file = e.target;
                            $("<span class=\"pip\">" +
                              "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                              "<br/><span class=\"remove\">Remove image</span>" +
                              "</span>").insertAfter("#files");
                            $(".remove").click(function () {
                                $(this).parent(".pip").remove();
                            });

                            // Old code here
                            /*$("<img></img>", {
                              class: "imageThumb",
                              src: e.target.result,
                              title: file.name + " | Click to remove"
                            }).insertAfter("#files").click(function(){$(this).remove();});*/

                        });
                        fileReader.readAsDataURL(f);
                    }
                });
            } else {
                alert("Your browser doesn't support to File API")
            }
        
        $('#ddlOfferCategory').val('@Model.Offer.CategoryId');

        $('#ddlLocation').val('@Model.Offer.LocationId');

        $('#ddlSubLocation').val('@Model.Offer.SubLocationId');

        $('#ddlStore').val('@Model.Offer.StoreId');

    });

    function FillSubCatDDL() {


        _CatId = $("#ddlOfferCategory").val();

        $.ajax({
            type: "GET",
            url: "/Offer/FillSubCategoryDDL",
            data: { CatId: _CatId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#ddlSubCat').html(response);


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }

    function FillSubLocationDDL() {


        _LocationId = $("#ddlLocation").val();

        $.ajax({
            type: "GET",
            url: "/Offer/FillSubLocationDDL",
            data: { LocationId: _LocationId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divSubLocation').html(response);


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }


    function FillStoreDDL() {

        _LocationId = $("#ddlLocation").val();
        _SubLocationId = $("#ddlSubLocation").val();

        $.ajax({
            type: "GET",
            url: "/Offer/FillStoreDDL",
            data: { LocationId: _LocationId, SubLocationId: _SubLocationId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divStore').html(response);


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }

    function DeleteOfferImage(OfferId, ImageId) {

        var Confirmation = confirm("Do you want to delete?");

        if (Confirmation)
        {
            $.ajax({
                type: "GET",
                url: "/Offer/DeleteOfferImage",
                data: { OfferId: OfferId, ImageId: ImageId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {

                    $('#divOfferImages').html(response);


                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }

     
    }


</script>
<!-- - var menuBorder = true-->
   