﻿
@model sb_admin_2.Web.Models.OfferCategories
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script> 
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
     
</script>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">@Model.PageTitle</h3>

        </div>
    
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostCategories" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.Id, new { @style = "display:none", @class = "form-control" })
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>Category Name <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                                <p class="help-block">Example Fashion, Electronics Etc..</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Icon Image <span style="color:red">*</span></label>
                                                <style>
                                                    .nobr {
                                                        border-bottom-left-radius: 0px;
                                                        border-bottom-right-radius: 0px;
                                                    }
                                                </style>

                                                @Html.TextBox("file", "", new { type = "file", @id = "imgInp", @class = "form-control nobr",  @onchange = "readURL(this);" })
                                                <div class="row" style=" border: 1px solid #ccd6e6; padding: 10px; margin: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: none; ">
                                                    <div>
                                                        <br />
                                                        @if (Model.ImagePath + "" != "" )
                                                        {
                                                            <img width="50" height="50" src="~/@Model.ImagePath" alt="your image" />
                                                        }
                                                        else
                                                        {
                                                            <img id="blah" width="50" height="50" src="http://placehold.it/180" alt="your image" />
                                                        }

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                
                                               

                                                <br />
                                              
                                            </div>

                                           
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">@Model.ButtonTitle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>