﻿@{
    ViewBag.Title = "SendNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model sb_admin_2.Web.Models.Notification

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@Html.Raw(TempData["msg"])
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Send Notification</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Send Notification
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="SendNotification" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true)
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>For <span style="color:red">*</span></label>
                                                <select name="For" class="form-control" onchange="HideUserDDl()" id="ddlNotificationFor">
                                                    <option value="SINGLEUSER">Single User</option>
                                                    <option value="ALLUSER">All Users</option>
                                                </select>

                                            </div>

                                            <div class="form-group" id="ddlUserList">
                                                <label>User <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.UserId, Model.UsersList, new { @Id = "ddlLocation", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="form-group">
                                                <label>Title<span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Message<span style="color:red">*</span></label>
                                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                                            </div>


                                           
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">Send</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> 




<script>

    function HideUserDDl() {
        var Type = $("#ddlNotificationFor").val();


        if (Type == "SINGLEUSER") {
            $("#ddlUserList").show();
        }
        else {
            $("#ddlUserList").hide();
        }

    }


</script>