﻿@model sb_admin_2.Web.Models.MagazineVM
 

@for (int i = 0; i < Model.Magazine.MagazineImages.Count; i++)
{
    <span class="pip2">
        <img class="imageThumb" style="width:100px;height:100px;" src="http://admin.andhraviews.com/@Model.Magazine.MagazineImages[i].ImagePath" title="Test" />
        <br /><span onclick="DeleteMagazineImage(@Model.Magazine.MagazineImages[i].MagazineId, @Model.Magazine.MagazineImages[i].Id)" class="remove2">Remove image</span>
    </span>

}
