﻿@model sb_admin_2.Web.Models.MagazineVM
@{
  ViewBag.Title = "Forms";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#OfferStartDate").datepicker();
            $("#OfferEndDate").datepicker();
        });
    </script>*@

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



<script>



    function readURL(input, Id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#' + Id)
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">@Model.Magazine.PageTitle</h3>

        </div>
  
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostMagazine" method="post" enctype="multipart/form-data">

                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.Magazine.Id, new { @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.Magazine.MagazineLocation, new { @id = "txtMagazineLocation", @style = "display:none", @class = "form-control" })

                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />

                                            <div class="form-group">
                                                <label>Title <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Magazine.Title, new { @rows = 3, @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Magazine.Title, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Cover Image <span style="color:red">*</span></label>
                                                <style>
                                                    .nobr {
                                                        border-bottom-left-radius: 0px;
                                                        border-bottom-right-radius: 0px;
                                                    }
                                                </style>

                                                @Html.TextBox("Magazine.file", "", new { type = "file", @id = "imgInp", @class = "form-control nobr", @onchange = "readURL(this,'blah');" })
                                                <div class="row" style=" border: 1px solid #ccd6e6; padding: 10px; margin: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: none; ">
                                                    <div>
                                                        <br />
                                                        @if (Model.Magazine.ImagePath + "" != "")
                                                        {
                                                        <img id="blah" width="50" height="50" src="~/@Model.Magazine.ImagePath" alt="your image" />
                                                        }
                                                        else
                                                        {
                                                        <img id="blah" width="50" height="50" src="http://placehold.it/180" alt="your image" />
                                                        }

                                                    </div>

                                                </div>

                                            </div>


                                            <div class="field form-group">
                                                <h3>Upload your images</h3>
                                                <input type="file" id="files" name="files" class="form-control" multiple />

                                            </div>

                                            <div id="divMagazineImages">
                                                @Html.Partial("_magazineImages", Model)
                                            </div>

                                            <label>Location <span style="color:red">*</span></label>
                                            <div class="form-group">
                                               
                                                <select id="ddlLocation" multiple="multiple" class="form-control" onchange="fillLocationIds()">
                                                    @foreach (var Item in Model.LocationList)
                                                    {
                                                        if (Item.Selected)
                                                        {
                                                        <option value="@Item.Value" selected>@Item.Text</option>
                                                        }
                                                        else
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    }

                                                </select> 
                                            </div>




                                            <div class="form-group">
                                                <label>Description</label>
                                                @Html.TextAreaFor(m => m.Magazine.Description, new { @rows = 2, @class = "form-control ", @Id = "ckeExample" })
                                                @Html.ValidationMessageFor(m => m.Magazine.Description, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">

                                                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.js"></script>

                                                <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

                                                <script>
                                                    var ckEditorID;

                                                    ckEditorID = 'ckeExample';

                                                    function fnConsolePrint() {
                                                        //console.log($('#' + ckEditorID).val());
                                                        console.log(CKEDITOR.instances[ckEditorID].getData());
                                                    }
                                                    CKEDITOR.config.forcePasteAsPlainText = true;
                                                    CKEDITOR.replace(ckEditorID,
                                                        {
                                                            toolbar:
                                                            [
                                                                {
                                                                    items: ['Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat']
                                                                },
                                                                {
                                                                    items: ['Format']
                                                                },
                                                                {
                                                                    items: ['Link', 'Unlink']
                                                                },
                                                                {
                                                                    items: ['Indent', 'Outdent', '-', 'BulletedList', 'NumberedList']
                                                                },
                                                                {
                                                                    items: ['Undo', 'Redo']
                                                                }
                                                            ]
                                                        })
                                                </script>


                                                <br />

                                            </div>

                                            <div class="form-group">
                                                    <label>Magazine Date <span style="color:red">*</span></label>
                                                    @Html.TextBoxFor(m => m.Magazine.strMagazineDate, new { @Id = "OfferEndDate", @class = "form-control " })
                                                    @Html.ValidationMessageFor(m => m.Magazine.strMagazineDate, "", new { @class = "text-danger" })
                                             </div>

                                            <div class="form-group">
                                                <label>Expiry Date <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Magazine.strExpiryDate, new { @Id = "OfferStartDate", @class = "form-control " })
                                                @Html.ValidationMessageFor(m => m.Magazine.strExpiryDate, "", new { @class = "text-danger" })
                                            </div>



                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">@Model.Magazine.ButtonTitle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .pip2 {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    .remove2 {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }


    .remove:hover {
        background: white;
        color: black;
    }

    .imageThumb {
        height: 100px;
        width: 100px;
    }
</style>

<script>

    $("document").ready(function () {

        $('#ddlLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        fillLocationIds();

            if (window.File && window.FileList && window.FileReader) {
                $("#files").on("change", function (e) {

                    $(".pip").remove();

                    var files = e.target.files,
                      filesLength = files.length;
                    for (var i = 0; i < filesLength; i++) {
                        var f = files[i]
                        var fileReader = new FileReader();
                        fileReader.onload = (function (e) {
                            var file = e.target;
                            $("<span class=\"pip\">" +
                              "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                              "<br/><span class=\"remove\">Remove image</span>" +
                              "</span>").insertAfter("#files");
                            $(".remove").click(function () {
                                $(this).parent(".pip").remove();
                            });

                            // Old code here
                            /*$("<img></img>", {
                              class: "imageThumb",
                              src: e.target.result,
                              title: file.name + " | Click to remove"
                            }).insertAfter("#files").click(function(){$(this).remove();});*/

                        });
                        fileReader.readAsDataURL(f);
                    }
                });
            } else {
                alert("Your browser doesn't support to File API")
            }





    });


     function fillLocationIds() {

        var selected = $("#ddlLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });

        $("#txtMagazineLocation").val(message);
      
         
    }

    function DeleteMagazineImage(MagazineId, ImageId) {

        var Confirmation = confirm("Do you want to delete?");

        if (Confirmation)
        {
            $.ajax({
                type: "GET",
                url: "/Magazine/DeleteMagazineImage",
                data: { MagazineId: MagazineId, ImageId: ImageId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {

                    $('#divMagazineImages').html(response);


                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }


    }


</script>
<!-- - var menuBorder = true-->
