﻿@model sb_admin_2.Web.Models.CustomerVM

<div class="form-group">
    <label>Sub Location</label>
    @Html.DropDownListFor(m => m.Customer.SubLocationId, Model.SubLocationList, "Select", new { @class = "form-control" })

</div>
