﻿@model sb_admin_2.Web.Models.CustomerVM
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Add Customer</h3> 
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Customer
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="AddCustomer" method="post" enctype="multipart/form-data">

                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.Customer.Id, new { @style = "display:none", @class = "form-control" })
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>Customer Name <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Customer.Name, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Company Name <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Customer.CompanyName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Customer.CompanyName, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Location <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.Customer.LocationId, Model.LocationList, "Select", new { @id = "ddlLocation", @class = "form-control", @onchange = "FillSubLocationDDL()" })
                                                @Html.ValidationMessageFor(m => m.Customer.LocationId, "", new { @class = "text-danger" })
                                            </div>

                                            <div id="ddlSubLocation">
                                                <div class="form-group">
                                                    <label>Sub Location </label>
                                                    @Html.DropDownListFor(m => m.Customer.SubLocationId, Model.SubLocationList, "Select", new { @Id = "ddlSubLocation", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Customer.SubLocationId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Mobile <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Customer.Mobile, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Customer.Mobile, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Email</label>
                                                @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Customer.Email, "", new { @class = "text-danger" })
                                            </div> 
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>  
<script>

    $("document").ready(function () {



        $('#ddlLocation').val('@Model.Customer.LocationId');

        $('#ddlSubLocation').val('@Model.Customer.SubLocationId');

    });



    function FillSubLocationDDL() {


        _LocationId = $("#ddlLocation").val();

        $.ajax({
            type: "GET",
            url: "/Customer/FillSubLocationDDL",
            data: { LocationId: _LocationId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#ddlSubLocation').html(response);


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }


</script>

