﻿@model List<sb_admin_2.Web.Models.Customer>

    @{
        ViewBag.Title = "GetCustomers";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div class="content-wrapper">
    <style>
        .dataTables_wrapper {
            overflow-x: scroll !important;
        }
    </style>
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Customers List</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Customers List
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- File export table -->
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse"><i class="ft-minus"></i></a>
                                    </li>
                                  
                                    <li>
                                        <a data-action="expand"><i class="ft-maximize"></i></a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <table class="table table-striped table-bordered file-export" style=" overflow-x: scroll !important; ">
                                    <thead>
                                        <tr>
                                            <th style="display:none"></th>
                                            <th>Customer Name</th>
                                            <th>Company Name</th>
                                            <th>CustomerId</th>
                                            <th>Location</th>
                                            <th>Sub location</th>
                                            <th> Register Date</th>
                                            <th>Edit</th>
                                            <th>Activity</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Model)
                                        {
                                            <tr class="odd gradeX">
                                                <td style="display:none">0</td>
                                                <td>@Item.Name</td>
                                                <td>@Item.CompanyName</td>
                                                <td>@Item.CustomerId</td>
                                                <td>@Item.LocationName</td>
                                                <td>@Item.SubLocationName</td>
                                                <td>@Item.CreatedAt.Value.ToString("dd MMM yyyy")</td>
                                                <td><a href="/Customer/AddCustomer?CustomerId=@Item.Id" class="btn btn-primary">Edit</a></td>
                                                <td><a href="/Store/Activity?CustomerId=@Item.CustomerId" class="btn btn-primary">Activity</a></td>
                                                <td><a href="#" onclick="Delete(@Item.Id)" class="btn btn-danger">Delete</a></td>
                                            </tr>
                                        }


                                    </tbody>


                                </table>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- File export table -->
    </div>
</div> 
               <script>

                   function Delete(Id) {
                       var action = confirm("Do you want to delete?")

                       if (action) {
                           location.href = "/Customer/DeleteCustomer?CustomerId=" + Id;
                       }
                   }

               </script>

