﻿@model sb_admin_2.Web.Models.NewsVM
 

@for (int i = 0; i < Model.NewsObj.NewsImages.Count; i++)
{
    <span class="pip2">
        <img class="imageThumb" style="width:100px;height:100px;" src="http://admin.andhraviews.com/@Model.NewsObj.NewsImages[i].ImagePath" title="Test" />
        <br /><span onclick="DeleteNewsImage(@Model.NewsObj.NewsImages[i].NewsId, @Model.NewsObj.NewsImages[i].Id)" class="remove2">Remove image</span>
    </span>

}
