﻿@model sb_admin_2.Web.Models.NewsVM
@{
  ViewBag.Title = "Forms";
  Layout = "~/Views/Shared/_Layout.cshtml";
}





<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>





<script>



    function readURL(input, Id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#' + Id)
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">@Model.NewsObj.PageTitle</h3>

        </div>

    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostNews" method="post" enctype="multipart/form-data">

                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.NewsObj.Id, new { @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.NewsObj.NewsLocation, new { @id = "txtNewsLocation", @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.NewsObj.NewsSublocation, new { @id = "txtNewsSubLocation", @style = "display:none", @class = "form-control" })

                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />

                                            <div class="form-group">
                                                <label>Category <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.NewsObj.CategoryId, Model.CategoryList, "Select", new { @id = "ddlOfferCategory", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.NewsObj.CategoryId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Title <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.NewsObj.Title, new { @rows = 3, @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.NewsObj.Title, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="field form-group">
                                                <h3>Upload your images</h3>
                                                <input type="file" id="files" name="files" class="form-control" multiple />

                                            </div>

                                            <div id="divNewsImages">
                                                @Html.Partial("_newsImages", Model)
                                            </div>


                                            
                                                <label >Location <span style="color:red">*</span></label>
                                          

                                            <div class="form-group">
                                             
                                                <select id="ddlLocation" multiple="multiple"  onchange="fillLocationIds()">
                                                    @foreach (var Item in Model.LocationList)
                                                    {
                                                        if (Item.Selected)
                                                        {
                                                        <option value="@Item.Value" selected>@Item.Text</option>
                                                        }
                                                        else
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    }

                                                </select>
                                            </div>



                                            <label>Sub Location <span style="color:red">*</span></label>
                                            <div id="divSubLocation">
                                                <div class="form-group">
                                                  

                                                    <select id="ddlSubLocation" multiple="multiple" class="form-control" onchange="fillSubLocationIds()">
                                                        @foreach (var Item in Model.SubLocationList)
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    </select> 
                                                </div>
                                            </div>




                                            <div class="form-group">
                                                <label>Description <span style="color:red">*</span></label>
                                                @Html.TextAreaFor(m => m.NewsObj.News, new { @rows = 12, @class = "form-control ", @id = "ckeExample" })
                                                @Html.ValidationMessageFor(m => m.NewsObj.News, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">

                                                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.js"></script>

                                                <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

                                                <script>
                                                    var ckEditorID;

                                                    ckEditorID = 'ckeExample';

                                                    function fnConsolePrint() {
                                                        //console.log($('#' + ckEditorID).val());
                                                        console.log(CKEDITOR.instances[ckEditorID].getData());
                                                    }
                                                    CKEDITOR.config.forcePasteAsPlainText = true;
                                                    CKEDITOR.replace(ckEditorID,
                                                        {
                                                            toolbar:
                                                            [
                                                                {
                                                                    items: ['Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat', 'TextColor']
                                                                },
                                                                {
                                                                    items: ['Format']
                                                                },
                                                                {
                                                                    items: ['Link', 'Unlink']
                                                                },
                                                                {
                                                                    items: ['Indent', 'Outdent', '-', 'BulletedList', 'NumberedList']
                                                                },
                                                                {
                                                                    items: ['Undo', 'Redo']
                                                                }
                                                               
                                                            ]
                                                        })
                                                </script>


                                                <br />

                                            </div>

                                            <div class="form-group">
                                                <label>Expiry Date <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.NewsObj.strExpiryDate, new { @Id = "OfferStartDate", @class = "form-control " })
                                                @Html.ValidationMessageFor(m => m.NewsObj.strExpiryDate, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Is Headline?</label>
                                                @Html.CheckBoxFor(m => m.NewsObj.IsHeadline)
                                                @Html.ValidationMessageFor(m => m.NewsObj.IsHeadline, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Is Classified?</label>
                                                @Html.CheckBoxFor(m => m.NewsObj.IsClassified)
                                                @Html.ValidationMessageFor(m => m.NewsObj.IsClassified, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">@Model.NewsObj.ButtonTitle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .pip2 {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    .remove2 {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }


    .remove:hover {
        background: white;
        color: black;
    }

    .imageThumb {
        height: 100px;
        width: 100px;
    }
</style>

<script>



    $("document").ready(function () {

        $('#ddlLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        $('#ddlSubLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        fillLocationIds();

            if (window.File && window.FileList && window.FileReader) {
                $("#files").on("change", function (e) {

                    $(".pip").remove();

                    var files = e.target.files,
                      filesLength = files.length;
                    for (var i = 0; i < filesLength; i++) {
                        var f = files[i]
                        var fileReader = new FileReader();
                        fileReader.onload = (function (e) {
                            var file = e.target;
                            $("<span class=\"pip\">" +
                              "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                              "<br/><span class=\"remove\">Remove image</span>" +
                              "</span>").insertAfter("#files");
                            $(".remove").click(function () {
                                $(this).parent(".pip").remove();
                            });

                            // Old code here
                            /*$("<img></img>", {
                              class: "imageThumb",
                              src: e.target.result,
                              title: file.name + " | Click to remove"
                            }).insertAfter("#files").click(function(){$(this).remove();});*/

                        });
                        fileReader.readAsDataURL(f);
                    }
                });
            } else {
                alert("Your browser doesn't support to File API")
            }





    });

 

     function fillLocationIds() {

        var selected = $("#ddlLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });

        $("#txtNewsLocation").val(message);
        FillSubLocationDDL('@Model.NewsObj.Id');

    }

    function fillSubLocationIds() {

        var selected = $("#ddlSubLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });

        $("#txtNewsSubLocation").val(message);


    }

    function FillSubLocationDDL(_NewsId) {


        _LocationId = $("#txtNewsLocation").val();


        $.ajax({
            type: "GET",
            url: "/News/FillSubLocationDDL",
            data: { LocationId: _LocationId, NewsId: _NewsId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divSubLocation').html(response);
                fillSubLocationIds();

            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }



    function DeleteNewsImage(NewsId, ImageId) {

        var Confirmation = confirm("Do you want to delete?");

        if (Confirmation)
        {
            $.ajax({
                type: "GET",
                url: "/News/DeleteNewsImage",
                data: { NewsId: NewsId, ImageId: ImageId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {

                    $('#divNewsImages').html(response);


                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }


    }



</script>
<!-- - var menuBorder = true-->
