﻿@model sb_admin_2.Web.Models.Location
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">@Model.PageTitle</h3>

        </div>
 
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostLocations" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })

                                    @Html.TextBoxFor(m => m.Id, new { @style = "display:none", @class = "form-control" })
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>Location Name <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                                <p class="help-block">Example Hyderabad, Warangal Etc..</p>
                                            </div> 
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">@Model.ButtonTitle</button>
                                            </div>
                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> 