﻿@model List<sb_admin_2.Web.Models.Banner>
    @{
        ViewBag.Title = "Tables";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="content-wrapper">
    <style>
        .dataTables_wrapper {
            overflow-x: scroll !important;
        }
    </style>
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Banner List</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Banner List
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- File export table -->
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse"><i class="ft-minus"></i></a>
                                    </li>
                                   
                                    <li>
                                        <a data-action="expand"><i class="ft-maximize"></i></a>
                                    </li>
                               
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <table class="table table-striped table-bordered file-export" style=" overflow-x: scroll !important; ">
                                    <thead>
                                        <tr>
                                            <th style="display:none"></th>
                                            <th>Image</th>
                                            @*<th>Location</th>*@
                                          
                                            <th>Date of upload</th>
                                            <th>Expires on</th>
                                            @*<th>Store </th>*@
                                            <th>Customer</th>
                                            <th>CustomerId</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Model)
                                        {
                                            <tr class="odd gradeX">
                                                <td style="display:none">0</td>
                                                <td><img height="50" width="50" src="../@Item.ImagePath" /></td>

                                                @*<td>@Item.LocationName</td>*@
                                              
                                                <td>@Item.strCreatedDate</td>
                                                <td>@Item.strExpiryDate</td>
                                                @*<td>@Item.StoreName</td>*@
                                                <td>@Item.CustomerName</td>
                                                <td>@Item.CustomerId</td>
                                                <td>@Item.Status</td>
                                                <td><a href="/Banner/PostBanners?BannerId=@Item.Id" class="btn btn-primary">Edit</a></td>
                                                <td><a href="#" onclick="Delete(@Item.Id)" class="btn btn-danger">Delete</a></td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- File export table -->
    </div>
</div> 

    <script>

        function Delete(Id) {
            var action = confirm("Do you want to delete?")

            if (action) {
                location.href = "/Banner/DeleteBanner?BannerId=" + Id;
            }
        }

    </script>
