﻿@model sb_admin_2.Web.Models.BannerVM
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>












<style>
    input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    .remove2 {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }


    .remove:hover {
        background: white;
        color: black;
    }

    .imageThumb {
        height: 100px;
        width: 100px;
    }
</style>

<script>



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }



</script>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">@Model.Banner.PageTitle</h3>

        </div>
    
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PostBanners" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })


                                    @Html.TextBoxFor(m => m.Banner.Id, new { @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.Banner.BannerLocation, new { @id = "txtBannerLocation", @style = "display:none", @class = "form-control" })
                                    @Html.TextBoxFor(m => m.Banner.BannerSubLocation, new { @id = "txtBannerSubLocation", @style = "display:none", @class = "form-control" })

                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group" id="fileBannerImage">
                                                <label>Banner Image <span style="color:red">*</span></label>
                                                <style>
                                                    .nobr {
                                                        border-bottom-left-radius: 0px;
                                                        border-bottom-right-radius: 0px;
                                                    }
                                                </style>

                                                @Html.TextBoxFor(m => m.Banner.file, new { type = "file", @id = "imgInp", @onchange = "readURL(this);", @class = "form-control nobr" })

                                                @Html.ValidationMessageFor(m => m.Banner.file, "", new { @class = "text-danger" })

                                              <div class="row" style=" border: 1px solid #ccd6e6; padding: 10px; margin: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: none; ">
                                                    <div>
                                                        <br />
                                                        @if (Model.Banner.ImagePath != "" && Model.Banner.ImagePath != null)
                                                        {
                                                            <img id="blah" width="50" height="50" src="~/@Model.Banner.ImagePath" alt="your image" />
                                                        }
                                                        else
                                                        {
                                                            <img id="blah" width="50" height="50" src="http://placehold.it/180" alt="your image" />
                                                        }
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="field form-group" id="fileBulkImages">
                                                <h3>Upload your images</h3>
                                                <input type="file" id="files" name="files" class="form-control" multiple />

                                            </div>
                                            
                                            <label>Location <span style="color:red">*</span></label>
                                            <div class="form-group">
                                                
                                                <select id="ddlLocation" multiple="multiple"  class = "form-control" onchange="fillLocationIds()">
                                                    @foreach (var Item in Model.LocationList)
                                                    {
                                                        if (Item.Selected)
                                                        {
                                                        <option value="@Item.Value" selected>@Item.Text</option>
                                                        }
                                                        else
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    }
                                                   
                                                </select> 
                                                @*@Html.DropDownListFor(m => m.Banner.LocationId, Model.LocationList, new { @Id = "ddlLocation", @class = "form-control", @onchange = "FillSubLocationDDL()" })
                                                @Html.ValidationMessageFor(m => m.Banner.LocationId, "", new { @class = "text-danger" })*@

                                            </div>

                                            <label>Sub Location <span style="color:red">*</span> </label>
                                            <div id="divSubLocation">
                                                <div class="form-group">
                                                 
                                                    <select id="ddlSubLocation" multiple="multiple" class="form-control" onchange="fillSubLocationIds()">
                                                        @foreach (var Item in Model.SubLocationList)
                                                        {
                                                        <option value="@Item.Value">@Item.Text</option>
                                                        }

                                                    </select> 
                                                   
                                                </div>
                                            </div>

                                            <div id="divStore">
                                                <div class="form-group">
                                                    <label>Customer </label>
                                                    @Html.DropDownListFor(m => m.Banner.StoreId, Model.StoreList, "Select", new { @Id = "ddlStore", @class = "form-control" })

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Expiry Date <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Banner.strExpiryDate, new { @Id = "OfferStartDate", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Banner.strExpiryDate, "", new { @class = "text-danger" })
                                            </div>

                                            @*<div class="form-group">
                                                <label>No of days <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Banner.Days, new { @class = "form-control", @Type = "number" })
                                                @Html.ValidationMessageFor(m => m.Banner.Days, "", new { @class = "text-danger" })
                                            </div>*@

                                           
                                     

                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" style="cursor:pointer" class="btn btn-success">@Model.Banner.ButtonTitle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                            

                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<script>

    $("document").ready(function () {

        $('#ddlLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        $('#ddlSubLocation').multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
            buttonWidth: '300px',
            maxHeight: 200
        });

        fillLocationIds();
        

        if ('@Model.Banner.Id' > 0)
        {
            $("#fileBannerImage").show();
            $("#fileBulkImages").hide();
        }
        else
        {
            $("#fileBulkImages").show();
            $("#fileBannerImage").hide();
        }

       if (window.File && window.FileList && window.FileReader) {
           $("#files").on("change", function (e) {

               $(".pip").remove();

               var files = e.target.files,
                   filesLength = files.length;
               for (var i = 0; i < filesLength; i++) {
                   var f = files[i]
                   var fileReader = new FileReader();
                   fileReader.onload = (function (e) {
                       var file = e.target;
                       $("<span class=\"pip\">" +
                           "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                           "<br/><span style = \"cursor:pointer\" class=\"remove\">Remove image</span>" +
                           "</span>").insertAfter("#files");
                       $(".remove").click(function () {
                           $(this).parent(".pip").remove();
                       });

                       // Old code here
                       /*$("<img></img>", {
                         class: "imageThumb",
                         src: e.target.result,
                         title: file.name + " | Click to remove"
                       }).insertAfter("#files").click(function(){$(this).remove();});*/

                   });
                   fileReader.readAsDataURL(f);
               }
           });
       } else {
           alert("Your browser doesn't support to File API")
       }

    });

    function fillLocationIds() {

        var selected = $("#ddlLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });

        $("#txtBannerLocation").val(message);
        FillSubLocationDDL('@Model.Banner.Id');
       
    }

    function fillSubLocationIds() {
      
        var selected = $("#ddlSubLocation option:selected");
        var message = "";
        selected.each(function () {
            message += $(this).val() + ",";
        });
        
        $("#txtBannerSubLocation").val(message);

        
    }

    function FillSubLocationDDL(_BannerId) {


        _LocationId = $("#txtBannerLocation").val();
        

        $.ajax({
            type: "GET",
            url: "/Banner/FillSubLocationDDL",
            data: { LocationId: _LocationId, BannerId: _BannerId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divSubLocation').html(response);
                fillSubLocationIds();

            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }


    function FillStoreDDL() {

        _LocationId = $("#ddlLocation").val();
        _SubLocationId = $("#ddlSubLocation").val();

        $.ajax({
            type: "GET",
            url: "/Banner/FillStoreDDL",
            data: { LocationId: _LocationId, SubLocationId: _SubLocationId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $('#divStore').html(response);


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }

</script>




