﻿@model sb_admin_2.Web.Models.PointsDefinition

@{
    ViewBag.Title = "PointsDefinition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Points Definition</h3>

        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Points Definition
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section class="basic-elements">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form role="form" action="PointsDefinition" method="post" enctype="multipart/form-data">
                                    @Html.ValidationSummary(true, "", new { @style = "color:red" })



                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div>
                                                <h4>Enter the details below</h4>
                                            </div>
                                            <hr />
                                            <div class="form-group">

                                                <div class="form-group">
                                                    <label>Points <span style="color:red">*</span></label>
                                                    @Html.TextBoxFor(m => m.Points, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Points, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    <label>Rupees <span style="color:red">*</span></label>
                                                    @Html.TextBoxFor(m => m.Rupees, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Rupees, "", new { @class = "text-danger" })
                                                </div>



                                                <div class="row">
                                                    <div class="col-lg-12 text-center">
                                                        <button type="submit" style="cursor:pointer" class="btn btn-success">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


